*{
    box-sizing: border-box;
}
body{
    font-family: 'Amatic SC', cursive;
    margin: 0;
    padding: 0; 
    background-color:#f2fdf2;
}

/*Navigation*/
header{
    background-color: rgba(123, 199, 99, 0.83);
    position: fixed;
    text-align: center;
    font-size: 25px;
    margin: 0;
    line-height: 65px;
    width: 100%;
    top:0;
    overflow: hidden;
    z-index: 1;
/*    rgba(153, 212, 134, 0.69)*/
}
ul{
    list-style-type: none;
    text-align: right;
    margin: 0;
}
li{
    display: inline-block;
    padding-left: 30px;
    letter-spacing: 1px; 
    
}
a{
    text-decoration: none;  
    color:#f2fdf2;

}
a:hover{
    color:green;
    border-bottom: 3px;
    border-style: double;
    border-color:green;
    border-top: none;
    border-left: none;
    border-right: none;
}
.hamburger{
    display: inline-block;
    cursor:pointer;
    margin-right: 30px;
    margin-top: 15px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.ham1, .ham2, .ham3{
    width: 35px;
    height: 5px;
    background-color:#59b93b;
    margin: 6px 0;
    transition: 0.6s;
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px; 
}
.change .ham1{
    -webkit-transform: rotate(-45deg) translate(-8px, 7px);
    transform: rotate(-45deg) translate(-8px, 7px);
}
.change .ham2{
    opacity: 0;
    
} 
.change .ham3{
    -webkit-transform: rotate(45deg) translate(-9px,-7.25px); 
    transform: rotate(45deg) translate(-9px,-7.25px);
    
}
.change{
    position: absolute;
    top: 0;
    right: 0;
    
}

/*-----------------*/

/*Mobile*/
#mobile_view{
    position: fixed;
    top:0;
    right:0;
    display: block;
    width: 17em;
    height: 25em;
    background-color: #c9e9c0;
    border-bottom-left-radius: 25px;
    display: none;
    border-left: solid 1px green;
    border-bottom: solid 1px green;
    overflow: hidden;
}
#mobile_menu{
     list-style-type: none;
    text-align: right;
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}  
.mobile_class{
    margin: 10px;
    font-size: 25px;
    
    
}

/*------------------*/

/*ScrollBar*/
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;

}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}
 
/*
#c9e9c0
#9ad487
#7bc763
#59b93b


*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
											  #c9e9c0 0%,
											  #9ad487 50%,
											  #7bc763 51%,
											  #59b93b 100%);
}

::-webkit-scrollbar-corner{
    width: 10px;
}

/*-----------------*/

/*Responsive_selection*/

@media screen and (max-width: 900px){
    header{
    background: none;
    position: fixed;
    text-align: center;
    margin: 0;
    line-height: 65px;
    width: 100%;
    top:0;
    overflow: hidden;
    z-index: 1;
    font-size: 0;
    }
    .hamburger{
        display: block;
        
    }
   
}

/*--------------------*/


/*Main content*/
#responsive_selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: anything under 100%;
    
}
img{
    margin-top: 250px;
}
.selection_1{
    height: 42em;
    background-color: #f2fdf2;
}
.selection_2{
    height: 29em;
    background-color: #9ad487;
    margin: 0;
    padding: 20px;
    font-size: 22.5px;
    color: #f2fdf2;
}
.selection_3{
    height: 16em;
    margin: 0;
    padding: 20px;
    background-color: #f2fdf2;
    color: #9ad487;
    
}
hr{
    overflow: visible;
    padding: 0;
    border: none;
    border-top: medium double #f2fdf2;
    color: #f2fdf2;
    text-align: center;
}
hr:after{
    content:"☯";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0.025em;
    background: #9ad487;
    
}
.mail_box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.submit{
    height: 40px;
    width: 130px;
    
}
#button{
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #59b93b;
    color: #59b93b;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size:12px;
    font-weight:bold; 
    cursor: pointer;
    transition: all 0.25s ease;
}
    #button:hover{
        color: white;
        background: #59b93b;
    }
    #button:active{
        letter-spacing: 2px;
    }
    #button:after{
        content: "SUBMIT";
    }

.onclick{
	width: 40px;
	border-color: #bbbbbb;
	border-width: 3px;
	font-size: 0;
	border-left-color: #1ECD97;
	-webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: #1ECD97;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #1ECD97;
}
.validate:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

    
footer{
    height: 14em;
    background-color:#9ad487;
    margin: 0;
    padding: 20px;
    color: #f2fdf2;
	text-align: center;
	line-height: 18em;
}
.ending{
	background-color:#59b93b;
	height: 2.5em;
	line-height: 50px;
	width:100%;
	text-align: center;
	color: #f2fdf2;
	font-weight: 15px;
	letter-spacing: 2px;
	
	
}
/*
span{
    border: 4px double black;
    width: 150px;
    height: 15px;
    text-align: center;
    
}
*/


/*------------*/
